In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [3]:
# Read the dataset
data = pd.read_csv('customer_data.csv')

In [4]:
data.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  9 non-null      int64
 1   age          9 non-null      int64
 2   gender       9 non-null      object
 3   email        9 non-null      object
 4   purchases    7 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 488.0+ bytes

In [7]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [13]:
# Find and display duplicate rows based on 'customer_id'
duplicate_rows = data[data.duplicated(subset='customer_id', keep=False)]

print("Duplicate rows:")
print(duplicate_rows)

Duplicate rows:
Empty DataFrame
Columns: [customer_id, age, gender, email, purchases]
Index: []

In [8]:
# Remove duplicates
data.drop_duplicates(subset='customer_id', inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  9 non-null      int64
 1   age          9 non-null      int64
 2   gender       9 non-null      object
 3   email        9 non-null      object
 4   purchases    7 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 432.0+ bytes


#### Handle missing values by dropping rows with missing 'purchases'
data.fillna(subset=['purchases'], inplace=True)

In [10]:
# Calculate the mean of 'purchases' column
mean_purchases = data['purchases'].mean()

# Fill missing 'purchases' values with the mean
data['purchases'].fillna(mean_purchases, inplace=True)

# Convert 'purchases' column to numeric
data['purchases'] = pd.to_numeric(data['purchases'])

In [12]:

# Calculate the average number of purchases for each gender
average_purchases_by_gender = data.groupby('gender')['purchases'].mean()
average_purchases_by_gender

gender
F     7.971429
M    11.250000
Name: purchases, dtype: float64